DATABASE_URL=postgresql://postgres:AidFoLwCQLVPHGlgpXzNVrBIhfVNEPJJ@postgres.railway.internal:5432/railway
SECRET_KEY=django-insecure-05**jic8=w+qeenf=wb9xgi1=s*b227cu)37z527h6jzlfw2fz
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1